@import 'tailwindcss';

.router-link-exact-active{
  @apply bg-sky-600 text-white px-2 rounded scale-105 transition;
}

button {
 @apply 
 
      justify-self-center 
      px-4 py-2 
      rounded-lg 
      shadow-md 
      cursor-pointer
      transition-all transition-discrete

      flex 
      items-center 
      disabled:opacity-50 
      disabled:cursor-not-allowed;

}

button:disabled {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed
}

.input {
  @apply 
      border-sky-200 
      border 
      rounded-md
      shadow-sm
      px-2
      text-xl
      w-full
      transition duration-200
      focus:outline-none
      focus:ring-2
      focus:border-sky-500
      focus:ring-sky-500

}


/* 
#app {
  width: 100vh;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin: 0.1rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding-left: 20px;
}

h3 {
  font-size: 1.2rem;
  padding-left: 40px;
}

h4 {
  font-size: 1rem;
  font-style: italic;
  padding-left: 60px;
}

label {
  width: 100px;
}

input {
  max-width: 220px;
  height: 25px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid #0191b6;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

input:active {
  transform: scale(0.95);
}

input:focus {
  border: 2px solid grey;
} */
